
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    box-sizing:border-box;
    height: 646px;
    width: 1321px;
    background-color: black;
    border-radius: 30px;
    padding-left: 139px;
    padding-right: 140px;
    margin-top: 39px;
}
.wrapper{
    margin-bottom: 140px;
}
.heading-section{
    width: 531px;
    height: 424px;
}
.banner-side-image {
    padding-top: 33px;
    padding-left: 200px;
    }
.banner-side-image img{
        height: 612px;
        width: 472px;
    }
.banner-headline-text{
        width: 510px;
        height: 168px;
        color: #f9f8f8;
        font-size: 60px;
        line-height: 70px;
        margin-top: 111px;
    }
.banner-paragraph-text{
        color: #fcf9f9;
        font-weight: 400px;
        font-size: 16px;
        line-height: 26px;
        width: 506px;
        height: 78px;
        padding-bottom: 40px;
    }
.watch-live{
        background-color:#DD0000;;
        border-radius: 5px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 400;
        line-height: 23px;
        padding: 10px 40px;
    }
    
    /*--------------------------------
            left menu bar style
    ----------------------------------*/
.left-bar{
        height: 312px;
        width: 312px;
        background-color: rgb(8, 0, 0);
        border-radius: 10px;
        margin-top: 130px;
    }
.Upcoming-Match{
        background-color: #ffffff;
        color: black;
        border: .5px solid rgb(178, 162, 162);
        border-radius: 5px;
        text-decoration: none;
        margin-left: 39px;
        font-weight: 500;
        font-size: 20px;
        line-height: 132px;
        padding: 18px 30px;
    }
.all-group{
        background-color: #ffffff;
        color: black;
        margin-left: 39px;
        border: 0.5px solid rgb(178, 162, 162);
        border-radius: 5px;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 63px;
        padding: 18px 71px;
    }
.Blog{
        background-color: red;
        color:white;
        border-radius: 5px;
        text-decoration: none;
        margin-left: 39px;
        font-weight: 500;
        font-size: 20px;
        line-height: 114px;
        padding: 18px 95px;
    }
    .fa-angle-right{
        padding-left: 10px;
        color: #fcf9f9;
    }
        .wrapper{
        display:flex;
        }
        .thumnail{
        width: 312px;
        height: 175px;
        }
        .blog-info{
        width: 272px;
        height: 54px;
        font-weight: 500;
        font-size: 16px;
        }
        .blog-detail{
        padding-bottom:px ;
        height: 26px;
        width: 143px;
        }
        #button{
        background-color: white;
        color:#161616;
        border: .5px solid black;
        border-radius: 3px;
        line-height: 24px;
        }
        .top-blogs{
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        margin-top: 130px;

        }
        .blogs{
        margin-left: 23px;
        height: 362px;

        }
        .comment-icon{
        padding-left: 35px;
        }
        .goal{
        width: 1600px;
        height: 444px;
        background-color: #161616;

        }
        .title-goal{
        color: #FFFFFF;
        justify-content: center;
        text-align: center;
        padding-top: 130px;
        size: 40px;
        font-weight: 600;
        }
        hr{
        width: 1320px;
        height: 0px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 50px;
        }
        footer{
        width: 898px;
        color: #B9B9B9;
        margin-left: 21.94%;
        margin-top: 50px;
        size: 16px;
        }
        .footer-info{
        padding-left: 35px;
        }
        /*------------------
        media queries 
        ---------------------*/
        /* mobile devices */
@media only screen and (max-width:688px){
.container{
    display: flex;
    margin-left: 21px;
    margin-right: 20px;
    flex-direction: column;
    width: 334px;
    height: 472px;
    align-items: center;
    justify-content: center;
    padding-left: 21px;
    background-color: black;
    border-radius: 10px;
}
.heading-section{
    width: 258px;
    height: 178px;
    text-align: center;
}
.banner-side-image {
    padding-top: 500px;
    padding-left: 130px;
    height: 648px;
}
.banner-side-image img{
    width: 233px;
    height: 249px;
}
.banner-headline-text{
    width: 228px;
    height: 66px;
    padding-left: 69px;
    padding-top: 334px;
    text-align: center;
    color: #f9f8f8;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}
.banner-paragraph-text{
    width: 258px;
    height: 48px;
    padding-left: 59px;
    padding-right: 38px;
    font-size: 14px;
    line-height: 26px;
}
.paragrapg-text-elipsis{
    display: none;}
.watch-live{
    margin-left: 111px;
    padding: 10px 11px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
}
.left-bar{
    background-color: white;
    margin-top: 0px;
    margin-left: 0px;
}
.Upcoming-Match{
    background-color: #ffffff;
    color:rgb(37, 36, 36);
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 39px;
    font-weight: 500;
    font-size: 20px;
    line-height: 133px;
    padding: 13px 30px;
}
.all-group{
    background-color: #ffffff;
    color: black;
    margin-left: 39px;
    border-radius: 15px;
    text-decoration: none;
    border: .5px solid black;
    font-weight: 500;
    font-size: 20px;
    line-height: 41px;
    padding: 13px 71px;
}
.Blog{
    border-radius: 19px;
    padding: 17px 95px;
}
.top-blogs{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 0px;
}
.blogs{
    margin-left: 0px;}
.goal{
    display: flex;
    flex-direction: column;
    height: 515px;
    margin-top: -109px;
}
.title-goal{
    padding-top: 47px;
}
.goal, hr, .title-goal{
    width: 350px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:0px;
    padding-left: 104px;
}
.footer-info{
    padding: 7px;
    text-align: center;
    justify-content: center;
    width: 136px;
}
}
/*-------------- 
tablet devices
----------------- */
@media only screen and (min-width:689px) and (max-width:992px) {
    .container{
        display: flex;
        flex-direction: row;
        
        padding-left: 76px;
        margin-right: 50px;
        margin-left: 50px;
        width: 734px;
        height: 398px;
    }
    .heading-section{
        width: 316px;
    }
    .banner-headline-text{
        width: 289px;
        height: 150px;
        font-size: 40px;
        line-height: 50px;
        margin-top: 61px;
    }
    .banner-side-image{
        padding-left: 0px;
    }
    .banner-side-image img{
        width: 323px;
        height: 340px;
    }
    .banner-paragraph-text{
        width:316px;
        height: 48px;
        font-size: 14px;
        font-weight: 400px;
        line-height: 24px;
        padding-bottom: 0px;
        /* overflow: hidden; */
    }
    .paragrapg-text-elipsis{
        display: none;
    }
    .watch-live{
        width: 161px;
        height: 48px;
    }
    .left-bar{
        display: flex;
        flex-direction: row;
        height: 0px;
        width: 651px;
        margin-left: 71px;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    .Upcoming-Match{
        width: 230px;
        height: 64px;
        border-radius: 12px;
        padding: 20px 15px;
        align-items: center;
        justify-content: center;
    }
    .all-group{
        border-radius: 12px;
        margin-left: 22px;
        line-height: 0px;
        padding: 20px 47px;
        align-items: center;
        justify-content: center;
    }
    .Blog{
        margin-left: 11px;
        line-height: 0px;
        padding: 20px 67px;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
    }
    .blogs{
        width: 357px;
    }
    .blog-info{
        width: 311px;
    }
    .thumnail img{
        width: 357px;
        width: 200px;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .top-blogs{
        grid-template-columns: repeat(2, 2fr);
        margin-left: 50px;
    }
    .goal{
        width: 734px;
        height: 435px;
        margin-left: 12x;
    }
    hr{
        width: 734px;
    }
    footer{
        width: 630px;
        margin-left: 138px;
    }
    #footer-last-two{
        padding-left: 32px;
        margin-left: 133px;
    }
    .footer-info{
        padding-left: 8px;
    }
}







        
        
        

    
    
    