
    body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 19px;
    box-sizing:border-box;
    height: 646px;
}
.container{
    display: flex;
    border-radius: 30px;
    background-color: black;
}
.heading-section{
    width: 570px;
    height: 424px;
}
 .banner-side-image {
    height: 665px;
    width: 450px;
    padding-left:106px ;
    }
    .banner-side-image img{
        padding-top: 33px;
        padding-right: 79px;
    }
    .banner-headline-text{
        width: 510px;
        height: 168px;
        color: #f9f8f8;
        font-size: 60px;
        line-height: 70px;
        margin-left: 106px;
        margin-top: 111px;
    }

    .banner-paragraph-text{
        color: #fcf9f9;
        font-weight: 400px;
        font-size: 16px;
        line-height: 26px;
        width: 467px;
        height: 78px;
        padding-left: 106px;
        padding-bottom: 40px;
    }
    .watch-live{
        margin-left: 106px;
        background-color:#DD0000;;
        border-radius: 5px;
        color: #ffffff;
        text-decoration: none;
        font-weight: 400;
        line-height: 23px;
        padding: 10px 40px;
    }
    /*---------------
    left menu bar style
    ----------------*/
    .left-bar{
        height: 182px;
        width: 179px;
        background-color: black;
        border-radius: 10px;
        margin-top: 80px;
        
    }
    
    .Upcoming-Match{
       
        background-color: #ffffff;
        color: black;
        
        border-radius: 5px;
        text-decoration: none;
        margin-left: 19px;
        font-weight: 500;
        font-size: 13px;
        line-height: 76px;
        width: 174px;
        height: 30px;
        padding: 10px 15px;
           
    }
    .all-group{
        
        background-color: #ffffff;
        color: black;
        
        border-radius: 5px;
        text-decoration: none;
        margin-left: 19px;
        font-weight: 500;
        font-size: 13px;
        line-height: 36px;
        width: 174px;
        height: px;
        padding: 10px 42px;
    }
    .Blog{
        background-color: red;
        color:white;
        
        border-radius: 5px;
        text-decoration: none;
        margin-left: 19px;
        font-weight: 500;
        font-size: 13px;
        line-height: 70px;
        width: 174px;
        height: 30px;
        padding: 10px 58px;
    }

        
        
        

    
    
    